<!--heyoo!! you can get a much better look with my code comments in the debugger!!-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content={{ themecolour }}>
    <meta property="og:site_name" content="Deepsea Metro">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ embedimage }}">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/variables.css{{ nocache }}" rel="stylesheet" type="text/css" media="all">
    <link href="/css/cqstyle.css{{ nocache }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ style }}{{ nocache }}" rel="stylesheet" type="text/css" media="all">
    <link href="/tooltips/tippy-stylesheet.css{{ nocache }}" rel="stylesheet" type="text/css" media="all">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>{{ randomscript | safe }}</script>
    <style>
      .navcontent section:nth-of-type({{ sectionnum }}) .linkbutton:nth-of-type({{ linknum }}) { /*selects current page's linkbutton and colours it*/
        color: #EBDFD6; /*only works due to eleventy, yayy!*/
      }
    </style>
  </head>
  <body>
    <div id="crt-filter"></div>
    <audio id="navhoversfx" style="display: none" preload="auto"><source src="https://files.catbox.moe/whrkau.wav" type="audio/mpeg" /></audio>
    <audio id="navclicksfx" style="display: none" preload="auto"><source src="https://files.catbox.moe/eaja0e.wav" type="audio/mpeg" /></audio>
    <audio id="tophoversfx" style="display: none" preload="auto"><source src="https://files.catbox.moe/myqxje.wav" type="audio/mpeg" /></audio>
    <audio id="hoversfx" style="display: none" preload="auto"><source src="https://files.catbox.moe/56nbgl.wav" type="audio/mpeg" /></audio>
    <audio id="clicksfx" style="display: none" preload="auto"><source src="https://files.catbox.moe/0j6dok.wav" type="audio/mpeg" /></audio>
    <div class="center">
      <div class="content">
        <div class="heading">
          <div class="headflexspacer"></div>
          <div class="headflex2"><img src='/images/cqstyle/nametitle.png' alt="Deepsea Metro"></div>
          <div class="headflex3">
            <div class=headflex3marquee>
              <marquee scrollamount="12" id="headflex3marqueetext">NOW LOADING...<noscript>//LOADING ABORTED:: NO JAVASCRIPT</noscript></marquee>
            </div>
          </div>
          <div class="headflex4">
            <a href="/musicplayer/" class="flex4button tippy" data-tippy-content="Music player" onclick="window.open(this.href,'popup','width=600,height=250,menubar=no,location=no,scrollbars=no,resizable=yes,toolbar=no'); return false;"><img src='/images/cqstyle/musicicon.png' alt="Music button"></a>
            <button id="sfxtogglebutton" class="flex4button tippy" data-tippy-content="Toggle SFX"><img id="sfxtogglebuttonimg" src='/images/cqstyle/sfxplaybutton.png' alt="SFX button"></button>
            <button id="scanlinetogglebutton" class="flex4button tippy" data-tippy-content="Toggle scanlines"><img src='/images/cqstyle/tagbutton.png' alt="Scanline toggle button"></button>
          </div>
          <div class="headflexspacer"></div>
        </div>
        <div class="sidebar">
          <div class="navbar">
            <div class="chattitle"><div class="bgdarken">navbar</div></div>
            <div class="navigation">
              <div class="navcontent">
                <section class="navbarA">
                  <a href="/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationA.png' alt="Central station"></div>
                    <div class="linktext">home</div>
                  </a>
                </section>
                <section class="navbarB">
                  <div class="subtitle">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationmarkB.png' alt="B"></div>
                    <div class="linktext">MAIN</div>
                  </div>
                  <a href="/about/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationBabout.png' alt=""></div>
                    <div class="linktext">about</div>
                  </a>
                  <a href="/blog/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationBblog.png' alt=""></div>
                    <div class="linktext">blog</div>
                  </a>
                  <a href="/socials/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationBsocials.png' alt=""></div>
                    <div class="linktext">socials</div>
                  </a>
                </section>
                <section class="navbarC">
                  <div class="subtitle">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationmarkC.png' alt="C"></div>
                    <div class="linktext">OCS</div>
                  </div>
                  <a href="/ocs/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationCocs.png' alt=""></div>
                    <div class="linktext">ocs</div>
                  </a>
                  <a href="/ocart/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationCocart.png' alt=""></div>
                    <div class="linktext">oc art</div>
                  </a>
                  <a href="/lore/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationClore.png' alt=""></div>
                    <div class="linktext">lore</div>
                  </a>
                </section>
                <section class="navbarD">
                  <div class="subtitle">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationmarkD.png' alt="D"></div>
                    <div class="linktext">CREATIONS</div>
                  </div>
                  <a href="/devlog/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationDdevlog.png' alt=""></div>
                    <div class="linktext">dev<wbr>log</div>
                  </a>
                  <a href="/mystuff/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationDmystuff.png' alt=""></div>
                    <div class="linktext">my stuff</div>
                  </a>
                </section>
                <section class="navbarE">
                  <div class="subtitle">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationmarkE.png' alt="E"></div>
                    <div class="linktext">EXTRAS</div>
                  </div>
                  <a href="/links/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationElinks.png' alt=""></div>
                    <div class="linktext">links</div>
                  </a>
                  <a href="/guestbook/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationEguestbook.png' alt=""></div>
                    <div class="linktext">guest<wbr>book</div>
                  </a>
                  <a href="/sitemap/" class="linkbutton">
                    <div class="stationimg"><img src='/images/cqstyle/stations/stationEsitemap.png' alt=""></div>
                    <div class="linktext">site<wbr>map</div>
                  </a>
                </section>
              </div>
            </div>
            <div class="chatbox">
              <div class="chattitle" id="chatheader"><div class="titlespacer"></div>♪chatroom♪<a href="https://www5.cbox.ws/box/?boxid=963315&boxtag=zd1hEu" class="titlespacer tippy" data-tippy-content="Pop out" onclick="window.open(this.href,'popup','width=350,height=350,scrollbars=yes,resizable=yes,toolbar=no'); return false;">▶</a></div>
              <div class="chat"><iframe src="https://www5.cbox.ws/box/?boxid=963315&boxtag=zd1hEu" width="100%" height="100%" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe></div>
            </div>
          </div>
        </div>
        <div class="inner">
          {{ content | safe }}
        </div>
      </div>
    </div>
  <footer>
    Made with blended ink | <a href="https://neocities.org/site/cleggs">Profile</a>
  </footer>
  <script src="/js/sfx.js{{ nocache }}"></script>
  <script src="/js/toggle.js{{ nocache }}"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="/tooltips/tippy-deco.js"></script>
  </body>
</html>