<div class="blogheader">
  <div class="blogheader1"></div>
  <div class="blogheader2">
    <div class="blogheader2kam"></div>
    <div class="blogheader2darken"><img src='/images/cqstyle/blogandevlog/hazy.png' loading="lazy" alt=""></div>
  </div>
  <div class="blogheader3"></div>
  <div class="blogheader4" style="color: var(--stationcol{{ blogline }});"><img src='/images/cqstyle/blogandevlog/{{ blognumber }}.png' loading="lazy" alt="{{ blognumber }}"></div>
  <div class="blogheader5"></div>
  <div class="blogheader6">
    <div class="blogheader6quote">"{{ blogquote }}"</div>
    <div class="blogheader6title">{{ blogtitle }}</div>
  </div>
</div>
<div id="topblognavigation">
  <div id="tonext" class="topblognavbutton">< NEXT</div>
  <a href="/blogs/archive/" id="toblogarchive" class="topblognavbutton">< BLOG ARCHIVE ></a>
  <div id="toprevious" class="topblognavbutton">PREVIOUS ></div>
</div>