<div class="navarea">
  <div class="navareatop">
    <h1>Deepsea Depths</h1>
    <p>"Pale summer moonlight shimmers on the seafloor.<br>An octopus, unaware that dawn will bring capture,<br>Rests within a trap, dreaming fleeting dreams..."</p>
    <p>Since you're here too early... <a href="/sitemap/">Head elsewhere?</a></p>
  </div>
  <div class="navareamap">
    <section class="stationline">
      <section class="stationHighlight">
        <div class="navareastation"><a href="/lore/" class="stationimg tippy" data-tippy-content="Resurface..."><img src='/images/cqstyle/stations/extras/smalldot.png' alt=""></a></div>
      </section>
      <section class="stationDepth">
        <div class="navareastation"><a href="/depths/home/" class="stationimg tippy" data-tippy-content="Home"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
        <div class="navareastation"><a href="/depths/headcanons/" class="stationimg tippy" data-tippy-content="Headcanons"><img src='/images/cqstyle/stations/extras/square.png' alt=""></a></div>
      </section>
      <section class="stationCori">
        <div class="navareastation"><a href="/depths/cori/" class="stationimg tippy" data-tippy-content="Cori - Summary"><img src='/images/cqstyle/stations/extras/square.png' alt=""></a></div>
      </section>
      <section class="stationLumine">
        <div class="navareastation"><a href="/depths/lumine/" class="stationimg tippy" data-tippy-content="Lumine - Summary"><img src='/images/cqstyle/stations/extras/square.png' alt=""></a></div>
      </section>
    </section>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <section class="stationline">
      <section class="stationDepth">
        <div class="navareastation"><a href="/depths/others/" class="stationimg tippy" data-tippy-content="Others"><img src='/images/cqstyle/stations/extras/mrndot.png' alt=""></a></div>
      </section>
    </section>
    <section class="stationline">
      <section class="stationPreSaniCori">
        <div class="navareastation"><a href="/depths/defection/" class="stationimg tippy" data-tippy-content="Defection"><img src='/images/cqstyle/stations/extras/square.png' alt=""></a></div>
        <div class="navareastation"><a href="/depths/melanchony/" class="stationimg tippy" data-tippy-content="Melanchony"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
      </section>
      <section class="stationCorikamabo">
        <div class="navareastation"><a href="/depths/facilities/" class="stationimg tippy" data-tippy-content="Facilities"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
        <div class="navareastation"><a href="/depths/sanitization/" class="stationimg tippy" data-tippy-content="Sanitization"><img src='/images/cqstyle/stations/extras/square.png' alt=""></a></div>
      </section>
      <section class="stationCori">
        <div class="navareastation"><a href="/depths/servitude/" class="stationimg tippy" data-tippy-content="Servitude"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
        <div class="navareastation"><a href="/depths/experiments/" class="stationimg tippy" data-tippy-content="Experiments"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
        <div class="navareastation"><a href="/depths/friendship/" class="stationimg tippy" data-tippy-content="Friendship"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
      </section>
      <section class="stationCorikamabo">
        <div class="navareastation"><a href="/depths/blight/" class="stationimg tippy" data-tippy-content="Blight"><img src='/images/cqstyle/stations/extras/square.png' alt=""></a></div>
        <div class="navareastation"><a href="/depths/discarded/" class="stationimg tippy" data-tippy-content="Discarded"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
        <div class="navareastation"><a href="/depths/awakening/" class="stationimg tippy" data-tippy-content="Awakening"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
      </section>
      <section class="stationCori">
        <div class="navareastation"><a href="/depths/escape/" class="stationimg tippy" data-tippy-content="Escape"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
      </section>
      <section class="stationMeeting">
        <div class="navareastation"><a href="/depths/meeting/" class="stationimg tippy" data-tippy-content="Meeting"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
        <div class="navareastation"><a href="/depths/after/" class="stationimg tippy" data-tippy-content="After"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
      </section>
    </section>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <section class="stationline">
      <section class="stationLumine">
        <div class="navareastation"><a href="/depths/tba/" class="stationimg tippy" data-tippy-content="."><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
        <div class="navareastation"><a href="/depths/tba/" class="stationimg tippy" data-tippy-content="."><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
      </section>
      <section class="stationMeeting">
        <div class="navareastation"><a href="/depths/repetition/" class="stationimg tippy" data-tippy-content="Monotany"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></a></div>
      </section>
    </section>
    <div></div>
    <div></div>
    <section class="stationline">
      <section class="stationDepth">
        <div class="navareastation"><a href="/depths/noncanon/" class="stationimg tippy" data-tippy-content="Non-canon"><img src='/images/cqstyle/stations/extras/mrndot.png' alt=""></a></div>
      </section>
    </section>
  </div>
</div>