<div class="navarea">
  <div class="navareatop">
    <h1>Deepsea Depths</h1>
    <p>"Pale summer moonlight shimmers on the seafloor.<br>An octopus, unaware that dawn will bring capture,<br>Rests within a trap, dreaming fleeting dreams..."</p>
    <p>Since you're here too early... <a href="/sitemap/">Head elsewhere?</a></p>
  </div>
  <div class="navareamap">
    <section class="stationline">
      <section class="stationHighlight">
        <div class="navareastation"><span class="tippy" data-tippy-content="Resurface."><a href="/lore/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/smalldot.png' alt=""></div></a></span></div>
      </section>
      <section class="stationDepth">
        <div class="navareastation"><span class="tippy" data-tippy-content="Home"><a href="/depths/home/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
        <div class="navareastation"><span class="tippy" data-tippy-content="Headcanons"><a href="/depths/headcanons/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/square.png' alt=""></div></a></span></div>
      </section>
      <section class="stationCori">
        <div class="navareastation"><span class="tippy" data-tippy-content="Cori - Summary"><a href="/depths/cori/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/square.png' alt=""></div></a></span></div>
      </section>
      <section class="stationLumine">
        <div class="navareastation"><span class="tippy" data-tippy-content="Lumine - Summary"><a href="/depths/lumine/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/square.png' alt=""></div></a></span></div>
      </section>
    </section>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <section class="stationline">
      <section class="stationDepth">
        <div class="navareastation"><span class="tippy" data-tippy-content="Others"><a href="/depths/others/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/mrndot.png' alt=""></div></a></span></div>
      </section>
    </section>
    <section class="stationline">
      <section class="stationPreSaniCori">
        <div class="navareastation"><span class="tippy" data-tippy-content="Army"><a href="/depths/army/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/square.png' alt=""></div></a></span></div>
        <div class="navareastation"><span class="tippy" data-tippy-content="Defection"><a href="/depths/defection/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
        <div class="navareastation"><span class="tippy" data-tippy-content="Melanchony"><a href="/depths/melanchony/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
      </section>
      <section class="stationCorikamabo">
        <div class="navareastation"><span class="tippy" data-tippy-content="Facilities"><a href="/depths/facilities/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
        <div class="navareastation"><span class="tippy" data-tippy-content="Sanitization"><a href="/depths/sanitization/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/square.png' alt=""></div></a></span></div>
      </section>
      <section class="stationCori">
        <div class="navareastation"><span class="tippy" data-tippy-content="Servitude & Experiments"><a href="/depths/servitude/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
        <div class="navareastation"><span class="tippy" data-tippy-content="Friendship"><a href="/depths/friendship/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
      </section>
      <section class="stationCorikamabo">
        <div class="navareastation"><span class="tippy" data-tippy-content="Blight"><a href="/depths/blight/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/square.png' alt=""></div></a></span></div>
        <div class="navareastation"><span class="tippy" data-tippy-content="Discarded"><a href="/depths/discarded/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
        <div class="navareastation"><span class="tippy" data-tippy-content="Awakening"><a href="/depths/awakening/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
      </section>
      <section class="stationCori">
        <div class="navareastation"><span class="tippy" data-tippy-content="Escape"><a href="/depths/escape/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
      </section>
      <section class="stationMeeting">
        <div class="navareastation"><span class="tippy" data-tippy-content="Meeting"><a href="/depths/meeting/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
        <div class="navareastation"><span class="tippy" data-tippy-content="After"><a href="/depths/after/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
      </section>
    </section>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <section class="stationline">
      <section class="stationLumine">
        <div class="navareastation"><span class="tippy" data-tippy-content="."><a href="/depths/tba/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
        <div class="navareastation"><span class="tippy" data-tippy-content="."><a href="/depths/tba/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
      </section>
      <section class="stationMeeting">
        <div class="navareastation"><span class="tippy" data-tippy-content="Repetition"><a href="/depths/repetition/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/dot.png' alt=""></div></a></span></div>
      </section>
    </section>
    <div></div>
    <div></div>
    <section class="stationline">
      <section class="stationDepth">
        <div class="navareastation"><span class="tippy" data-tippy-content="Non-canon"><a href="/depths/noncanon/"><div class="stationimg"><img src='/images/cqstyle/stations/extras/mrndot.png' alt=""></div></a></span></div>
      </section>
    </section>
  </div>
</div>