<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{ themecolour }}">
    <meta property="og:site_name" content="Deepsea Metro">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ embedimage }}">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/variables.css{{ nocache }}" rel="stylesheet" type="text/css" media="all">
    <link href="/css/boxstyle.css{{ nocache }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ style }}{{ nocache }}" rel="stylesheet" type="text/css" media="all">
    <link href="/tooltips/tippy-stylesheet.css{{ nocache }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div class="background">
      <div class="center">
        <div class="containerbox">
          <div class="topflex">
            <a href="/box/pokemon/" class="topbutton"><div class="topbuttoninner">Pokémon</div></a>
            <a href="/box/about/" class="topbutton"><div class="topbuttoninner">About</div></a>
            <a href="/" class="topbutton"><div class="topbuttoninner">Return to the metro...</div></a>
          </div>
          <div class="inner">
            {{ content | safe }}
          </div>
        </div>
      </div>
    </div>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="/tooltips/tippy-deco.js"></script>
  </body>
</html>