.tippy-box[data-animation=fade][data-state=hidden] { /*rewrote a considerable bit to fit with styling of site...*/
  opacity:0
}

[data-tippy-root] {
  max-width: calc(30vw - 10px)
}

.tippy-box {
  position: relative;
  background-color: var(--background);
  backdrop-filter: blur(0.85vh);
  color: var(--textcol);
  border-radius: 0.5vh;
  border: 0.1vh solid var(--highlight);
  box-shadow: 0 0 0.5vh var(--highlightshadow);
  font-family: nindot, helvetica;
  font-size: 0.95em;
  white-space: normal;
  outline: 0;
  transition-property: transform,visibility,opacity;
}

.tippy-box[data-placement^=top]>.tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
  bottom: -8px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
  top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
  top: -8px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
  right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -8px;
  transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
  left:0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
  left: -8px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)
}

.tippy-arrow {
  background-color: transparent; /*don't style bg, color is the pokey-out bit*/
  width: 1em;
  height: 0.5em;
  color: var(--highlight);
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid
}

.tippy-content {
  position: relative;
  padding: 0.5vh;
  padding-left: 0.75vh;
  padding-right: 0.75vh;
  z-index: 1;
}

.tippy { /*styles the annotated text!*/
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--navlinkactive);
  display: inline-block;
}

@media (max-width: 1250px) { /*scales the text slightly smaller on mobile*/

  [data-tippy-root] {
    max-width: calc(40vw - 10px)
  }

  .tippy-box {
    font-size: 0.7em;
  }
  
  .tippy-content {
    padding: 0.75vw;
  }
}